# Virtual environment
env/
venv/

# Python cache files
__pycache__/
*.py[cod]

# Secret settings
*.env
.env

# Django logs
logs/
*.log

# Database and migrations
db.sqlite3
*.sqlite3
/media/
staticfiles/
